link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,greek", rel='stylesheet', type='text/css')
link(href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,greek", rel="stylesheet", type="text/css")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
link(rel="stylesheet", href="/stylesheets/style.css")