extends layout
block content
    h1= title
    h2 Find the campaign 
        a(href='http://www.indiegogo.com/projects/greek-bailout-fund/x/6503522#/story', target='_null') here

    #js-legend.chart-legend
    p *times are in GMT.
    div(style='width: 100%; height: 100%;')
        canvas#myLineChart(style='width: 100%; height: auto;')
    span(style='color:#818181;')
        | Greece 
        script(language='JavaScript', type='text/javascript').
            now = new Date
            theYear=now.getYear()
            if (theYear < 1900)
                theYear=theYear+1900
            document.write(theYear)
        | ,
        | builder:
        a(href='https://www.facebook.com/alexandros.keramidas', target='_null')
            | alexkeramidas
