doctype html
html
    head
        include ./includes/stylesheets.jade
        include ./includes/javascripts.jade
        script(type='text/javascript').
            var statistics_data =!{JSON.stringify(data)}
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1")
    body
        block content